@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fff;
  --color-second: #fff;
  --color-third: #1982c4;

  --main-color: #ccff33;
  --background-color: #0d1b2a;
  --navbar-color: #1b263b;
  --hover-color: #0f0909;

  --project-1: #022b3a;
  --project-2: #002e42;
  --project-3: #00304a;
  --project-4: #003251;
  --project-5: #003459;
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  --color-primary: #090a0f;
  --color-second: #090a0f;
  --color-third: #f77f00;

  --main-color: #f77f00;
  --background-color: #f0ead2;
  --background2-color: rgba(255, 216, 107, 0.479);
  --navbar-color: #e9d985;
  --hover-color: #fff;

  --project-1: #faedcd;
  --project-2: #faedcd;
  --project-3: #faedcd;
  --project-4: #faedcd;
  --project-5: #faedcd;
}

* {
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

.body {
  background-color: var(--background-color); /*#081c15;*/
}

h1 {
  margin: 30px 0px !important;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 5px;
}
