@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #fff;
  --color-second: #fff;
  --main-color: #ccff33;
  --color-third: #00a97f;
  --background2-color: rgba(255, 255, 255, 0.1);
  --bg-color: #081c15;
  /* color: #f1ebeb; */

  --github-background: none;
  --linkedin-background: none;
  --cv-background: none;
}

html {
  scroll-behavior: smooth;
}

* {
  color: #f1ebeb;
  /* margin: 0;
  padding: 0;  */
}
/* section{
  margin-top: 60px;
} */

.dark-mode {
  background-color: #f0ead2;
  color: #090a0f;
  --color-primary: #090a0f;
  --color-second: #090a0f;
  --bg-color: #f0ead2;
  --main-color: #f77f00;
  --background-color: #f77f00;
  --background2-color: rgba(255, 216, 107, 0.479);

  --github-background: #6c757d;
  --linkedin-background: #2374c4;
  --cv-background: #23c483;
}

.body {
  background-color: #081c15;
  /* background: url("/img/background.svg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

h1{
  /* border: 2px solid #fff; */
  margin: 30px 0px !important;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}