@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #fff;
  --color-second: #fff;
  --main-color: #00ffee;
  --background-color: #00ffee;
  --background2-color: rgba(255, 255, 255, 0.1);
  --bg-color: #090a0f;
  color: #f1ebeb;

  --github-background: none;
  --linkedin-background: none;
  --cv-background: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* section{
  margin-top: 60px;
} */

.dark-mode {
  background-color: #f0ead2;
  color: #090a0f;
  --color-primary: #090a0f;
  --color-second: #090a0f;
  --bg-color: #f0ead2;
  --main-color: #f77f00;
  --background-color: #f77f00;
  --background2-color: rgba(255, 216, 107, 0.479);

  --github-background: #6c757d;
  --linkedin-background: #2374c4;
  --cv-background: #23c483;
  /* background-color: #090a0f;
  --color-primary: #fff;
  --color-second: #fff;
  --main-color: #00ffee;
  --background-color: #00ffee;
  --background2-color: rgba(255, 255, 255, 0.1);
  --bg-color: #090a0f;
  color: #f1ebeb;

  --github-background: none;
  --linkedin-background: none;
  --cv-background: none; */
}

/* body {
  background: url("/img/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
