@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    border: 2px solid red;
    background-color: var(--background2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    text-align: center;
    padding: 0px 10%;
    transition: all 0.5s ease;
    /* font-size: 18px; */
    /* position: fixed; */
  }
  
  /* aside {
    border: 2px solid red;
  } */
  
  .img {
    display: flex;
    align-items: center;
  }
  
  .imagen {
    height: 40px;
    width: 40px;
    border-radius: 25px;
  }
  
  .nav_links li a {
    text-decoration: none;
    animation: tracking-in-expand-forward-top 0.4s linear both;
  }
  @keyframes tracking-in-expand-forward-top {
    0% {
      letter-spacing: -0.2em;
      transform: translateZ(-700px) translateY(-100px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  .nav_links {
    list-style-type: none; /*Esto elimina el punto*/
    margin-left: 10%;
    display: flex;
    align-items: center;
  }
  
  .nav_links li {
    margin-right: 20px;
  }
  
  .nav_links li a {
    border-radius: 4px;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
  }
  
  .nav_links li a:hover {
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--background-color), 0 0 20px var(--background-color),
      0 0 20px var(--background-color);
    color: #434343;
  }
  
  .dynamic {
    margin-right: 10%;
    display: grid;
    place-items: center;
  }
  