.home {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.head {
  height: 78vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.presentation {
  display: flex;
  place-items: center;
  height: 430px;
  justify-content: space-between;
}

.titulo {
  place-items: center;
  width: 70%;
}

.titulo h2 {
  font-size: 5rem;
}

.latest_projects {
  display: flex;
  text-align: center;
  width: 40%;
}

.latest_projects h4 {
  font-size: 30px;
}

.latest_projects ul {
  padding-left: 0px;
}

.latest_projects a {
  width: 280px;
  font-size: 20px;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-third);
  text-decoration: none;
}

.latest_projects a:hover {
  border-bottom: 2px solid var(--color-primary);
}

.blur {
  box-shadow: 0 0 1000px 50px #1d4ed8;
}

/*-----Escritura-automatica----------*/
.text-animation {
  font-size: 2.5rem;
  min-width: 280px;
  align-self: flex-start;
  justify-self: flex-start;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--background-color);
  position: absolute;
  width: calc(100% + 8px);

  height: 3rem;
  border-left: 3px solid var(--background-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Frontend Developer";
  }
  21%,
  40% {
    content: "Backend Developer";
  }
  41%,
  60% {
    content: "UI / UX Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.links-perfil {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.links-perfil a {
  text-decoration: none;
}

.git {
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.git:hover {
  box-shadow: 0px 15px 20px rgba(248, 249, 250, 0.455);
  transform: translateY(-7px);
}

.git:active {
  transform: translateY(-1px);
}

.linkedin {
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-size: 28px;
}

.linkedin:hover {
  box-shadow: 0px 15px 20px rgba(46, 153, 229, 0.4);
  transform: translateY(-7px);
}

.linkedin:active {
  transform: translateY(-1px);
}

.cv {
  letter-spacing: 2.5px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.cv:hover {
  box-shadow: 0px 15px 20px rgba(35, 196, 131, 0.4);
  transform: translateY(-7px);
}

.cv:active {
  transform: translateY(-1px);
}

.slider {
  height: 200px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(200px * 36);
  animation: scroll 55s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 18));
  }
}

.slide {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide .img {
  width: 100%;
  transition: transform 1s;
}

.slide .img:hover {
  transform: translateZ(20px);
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    var(--background-color) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.history span {
  color: var(--color-third);
}

/*-------------------Home-------------------*/
@media (max-width: 1050px) {
  .text-animation {
    font-size: 30px;
  }
}

@media (max-width: 760px) {
  .home {
    height: auto;
    width: 93vw;
  }

  .presentation {
    flex-direction: column;
  }

  .titulo {
    margin-top: 30px;
    width: 100%;
  }

  .blur {
    box-shadow: none;
  }

  .titulo h2 {
    font-size: 4rem;
  }

  .text-animation {
    font-size: 24px;
    margin-left: 0px;
    align-self: auto;
    justify-self: auto;
  }

  .text-animation span::after {
    height: 28px;
  }

  .slide {
    height: 150px;
    width: 150px;
    padding: 5px;
  }
  
  .slide-track {
    width: calc(150px * 36);
    animation: scroll 25s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 18));
    }
  }
  

  .history {
    margin: 50px 0px;
  }

  .links-perfil {
    margin: 50px 0px;
  }

  .latest_projects {
    display: none;
  }
}
