.home {
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: scroll;
}
/* 
.home.active {
  z-index: -3;
} */

.particle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 0 3px var(--background-color);
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
.particle:nth-child(odd) {
  height: 9px;
  width: 9px;
}
.particle:nth-child(even) {
  height: 7px;
  width: 7px;
}
.particle:nth-child(1) {
  opacity: 0.46;
  animation-name: particle1;
  animation-delay: -0.2s;
  transform: translate3d(55vw, 79vh, 22px);
}
@keyframes particle1 {
  100% {
    transform: translate3d(80vw, 51vh, 9px);
  }
}

.particle:nth-child(2) {
  opacity: 0.08;
  animation-name: particle2;
  animation-delay: -0.4s;
  transform: translate3d(4vw, 21vh, 14px);
}
@keyframes particle2 {
  100% {
    transform: translate3d(31vw, 35vh, 87px);
  }
}
.particle:nth-child(3) {
  opacity: 0.41;
  animation-name: particle3;
  animation-delay: -0.6s;
  transform: translate3d(78vw, 63vh, 52px);
}
@keyframes particle3 {
  100% {
    transform: translate3d(42vw, 66vh, 40px);
  }
}

.particle:nth-child(4) {
  opacity: 0.33;
  animation-name: particle4;
  animation-delay: -8.8s;
  transform: translate3d(56vw, 32vh, 88px);
}
@keyframes particle4 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(5) {
  opacity: 0.4;
  animation-name: particle5;
  animation-delay: -1s;
  transform: translate3d(79, 74vh, 14px);
}
@keyframes particle5 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(6) {
  opacity: 0.41;
  animation-name: particle6;
  animation-delay: -1.2s;
  transform: translate3d(92vw, 27vh, 61px);
}
@keyframes particle6 {
  100% {
    transform: translate3d(80vw, 35vh, 11px);
  }
}

.particle:nth-child(7) {
  opacity: 0.74;
  animation-name: particle7;
  animation-delay: -1.4s;
  transform: translate3d(55vw, 65vh, 75px);
}

@keyframes particle7 {
  100% {
    transform: translate3d(30vw, 15vh, 59px);
  }
}

.particle:nth-child(8) {
  opacity: 0.09;
  animation-name: particles8;
  animation-delay: -1.6s;
  transform: translate3d(10vw, 10vh, 55px);
}
@keyframes particle8 {
  100% {
    transform: translate3d(30vw, 64vh, 91px);
  }
}
.particle:nth-child(14) {
  opacity: 0.98;
  animation-name: particle14;
  animation-delay: -2.8s;
  transform: translate3d(3vw, 73vh, 11px);
}
@keyframes particle14 {
  100% {
    transform: translate3d(45vw, 46vh, 28px);
  }
}
.particle:nth-child(15) {
  opacity: 0.69;
  animation-name: particle15;
  animation-delay: -3s;
  transform: translate3d(86vw, 82vh, 49px);
}
@keyframes particle15 {
  100% {
    transform: translate3d(16vw, 31vh, 36px);
  }
}

.titulo {
  display: grid;
  place-items: center;
  margin-top: 50px;
  height: 35%;
  width: 600px;
}

.titulo h2 {
  font-size: 48px;
}

/*-----Escritura-automatica----------*/
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  margin-left: 80px;
  align-self: flex-start;
  justify-self: flex-start;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);

  height: 50px;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Backend Developer";
  }
  41%,
  60% {
    content: "UI Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.titulo p {
  margin-top: 30px;
}

.links-perfil {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-perfil a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.github {
  padding: 0px 5px;
  padding-top: 4px;
  border-radius: 3px;
  font-weight: 100;
  background-color: var(--github-background);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.github:hover {
  background-color: #6c757d;
  box-shadow: 0px 15px 20px rgba(248, 249, 250, 0.455);
  transform: translateY(-7px);
}

.github:active {
  transform: translateY(-1px);
}

.linkedin {
  background-color: var(--linkedin-background);
  padding: 0px 6px;
  padding-top: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.linkedin:hover {
  background-color: #2374c4;
  box-shadow: 0px 15px 20px rgba(46, 153, 229, 0.4);
  transform: translateY(-7px);
}

.linkedin:active {
  transform: translateY(-1px);
}

.cv {
  background-color: var(--cv-background);
  padding: 4px 7px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.cv a {
  font-size: 18px;
}

.cv:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.cv:active {
  transform: translateY(-1px);
}

#projects {
  height: 1250px;
}

.section {
  /*Esto es para todos los titulos*/
  text-align: center;
  font-size: 40px;
  padding: 20px 0px;
  margin: 50px 0px;
  color: var(--main-color);
}


