.contact {
  /*height: 100vh;Nose si esta bien*/
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact h2{
  margin: 50px 0px;
}

.format_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 45%;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  width: 45%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: var(--background2-color);
  border: 1px solid rgba(255, 255, 255, 0.18);

}

.contact_form p input {
  margin: 2px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--color-third);
  color: var(--color-second);
  padding: 3px;
}

.contact_form p textarea {
  margin: 2px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--color-third);
  color: var(--color-second);
  padding: 3px;
}

.contact_form p {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.button_form {
  color: var(--color-primary);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.283)
  );
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 40px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.button_form:hover {
  color: #0f0909;
  background-color: #f1ebeb;
}

.contacts {
  gap: 20px;
  display: flex;
  font-size: 27px;
}

.contact a {
  color: var(--color-primary);
}


@media (max-width: 760px) {
  .format_contact {
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    /* width: 100%; */
  }

  .contact {
    width: 93vw;
    height: auto;
    font-size: 14px;
  }

  .contact_form {
    width: 100%;
  }

  .description{
    width: 100%;
  }
}