/* Estilos para el contenedor nav */
.nav {
  /* color: rgb(11, 34, 25); */
  /* background-color: rgb(1, 22, 31); */
  /* text-decoration: none; */
  /* text-align: center; */
}

.logo{
  border-radius: 40px;
}

.NavBarResponsive {
  display: none;
}

.nav_links {
  
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0px;
  height: 30px;
}

/* Estilos para los elementos de la lista */
.nav_links li {
  list-style-type: none;
  /* border: 2px solid red; */
  text-align: center;
}

/* Estilos para los enlaces */
.nav_links a {
  text-decoration: none;
  color: var(--color-primary);
}

/* Estilos para los textos dentro de los enlaces */
.nav_links li p {
  width: 100px;
  transition: all 0.5s ease;
  animation: tracking-in-expand-forward-top 0.4s linear both;
}

.nav_links li p::before {
  margin-left: auto;
}

.nav_links li p::after,
.nav_links li p::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #007200; /*#25a18e;*/
  display: block;
  transition: 0.5s;
}

.nav_links li p:hover::after,
.nav_links li p:hover::before {
  width: 100%;
}

.active_link {
  content: "";
  width: 0%;
  height: 2px;
  background: #007200;
  display: block;
  width: 100%;
  height: 100%;
}

.dynamic {
  display: grid;
  place-items: center;
}

/* .button {
  padding: 100px;
} */

/* Keyframes para la animación */
@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -0.2em;
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/*--------------------------*/
.nav-toggle {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;

  display: none;
}


/* .nav.active li a:hover {
  background: #20e2d7;
  color: #fff;
} */

@media (max-width: 760px) {
  .NavBarResponsive {
    display: block;
  }

  .nav-menu_visible{
    display: none;
    border: 2px solid blue;
    top: auto;
    /* position: absolute; */
    z-index: auto;
  }

  .nav {
    /*position: relative;  Añade esta línea */
    /* padding: 10px 15px; */
    /* height: 50px; */
  }


  /* .nav-links {
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 65px;
    width: 100%;
    padding: 20px 0px;
    height: calc(100% - 50px);
    overflow-y: auto;
    right: 100%;
    transition: right 0.3s;
  }

  .nav-links li {
    line-height: 70px;
  }

  .nav-links li a:hover,
  .nav-link-active {
    color: var(--bg-color);
  }

  .nav-toggle {
    color: var(--color-primary);
    display: block;
  }

  .nav-menu_visible {
    right: 0;
  }

  .nav.active {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
  }

  .nav.active .nav-links {
    height: 800px;
    color: #fff;
  }

  .nav.active .nav-links li a:hover {
    background: var(--background-color);
    color: var(--bg-color);
  } */
}
