.footer {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  margin-top: 100px;
  padding-block: 20px;
  text-align: center;
  color: #fff;
}

.footer div {
  color: #fff;
}

.copyright {
  margin-bottom: 10px;
  color: #fff;
}

.copyright a {
  display: inline-block;
}

.copyright a:is(:hover, :focus) {
  color: var(--white);
}


.links_description{
  gap: 10px;
  font-size: 25px;
}

.links_description a {
  margin: 10px;
  color: #fff;
}
