.footer {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  margin-top: 100px;
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: var(--gainsboro);
  font-size: var(--fs-5);
  margin-bottom: 10px;
}

.copyright a {
  color: var(--color-primary);
  display: inline-block;
}

.copyright a:is(:hover, :focus) {
  color: var(--white);
}


.links_description{
  /* display: flex; */
  gap: 10px;
  font-size: 25px;
}

.links_description a {
  margin: 10px;
  color: var(--color-primary);
}
