/* ----------------- */

.responsive {
  display: none;
}

.skills {
  min-height: 66.6vh;
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.format {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.skills-text {
  font-size: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-separation {
  display: grid;
  gap: 10px;
}

.skills-icon {
  flex-wrap: wrap;
  height: 300px;
  width: 50%;
}

.skills-list {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}


.icon img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

@media (max-width: 900px) {
  .icon img {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 720px) {
  /*-------------------skills-------------------*/

  .skills {
    width: 93vw;
    margin: auto;
  }

  .format {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .skills-text {
    font-size: 14px;
    width: 90%;
  }

  .skills-icon {
    width: 90%;
  }

  .skills-list {
    display: flex;
  }

  .skills-list li {
    margin: 0%;
  }
}
