.work-projects {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  justify-content: center;
  padding: 0px;
  flex-wrap: wrap;
  gap: 40px 40px;
}

.section {
  margin: 50px 0px;
  width: 70vw;
}

.section h1 {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  /* position: relative; */
  border-radius: 20px;
  padding: 20px 25px;
  border: 2px solid black;
  transition: all 0.4s;
  backdrop-filter: blur(30px);
  background-color: rgba(217, 217, 217, 0.184);
  width: 400px;
}

.project:hover {
  box-shadow: 4px 4px 0 1px rgba(0, 0, 0);
}

.offer {
  font-weight: 800;
  border-bottom: 2px solid black;
  cursor: pointer;
  transition: all 0.4s;
}

.project:hover .offer {
  color: #007200;
  border-color: #007200;
}

.figure {
  gap:20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure img {
  border-radius: 10px;
  object-fit: contain;
}

.description h2 {
  color: var(--main-color);
}

.project ul a {
  --color: #00a97f;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  margin: 0px 10px;
  /* border: 2px solid var(--background-color); */
  cursor: pointer;
  font-size: 14px;
  color: var(--background-color);
  
}

.project ul {
  /* margin-top: 30px; */
  padding-left: 0px;
}
.project ul a:hover {
  
  background-color: var(--background-color);
  color: #0f0909;
}

@media (max-width: 1015px) {
  .work-projects {
    margin: auto;
    width: 95vw;
  }

  .project {
    width: 350px;
  }
}

@media (max-width: 760px) {
  .projects {
    gap: 20px;
  }

  .project {
    width: 250px;
  }
}
