.work-projects {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
  gap: 40px;
}

.project {
  width: 451px;
  min-height: 480px;
  background-image: linear-gradient(to right top, var(--project-1), var(--project-2), var(--project-3), var(--project-4), var(--project-5));
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid rgb(84 90 106);
  justify-content: space-between;
  border-radius: 10px;
}

.project:hover {
  box-shadow: 4px 4px 0 1px rgba(0, 0, 0);
}

.offer {
  width: 100%;
  font-weight: 800;
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
  transition: all 0.4s;
}

.container-project{
  margin-top: 10px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:hover .offer {
  width: 100%;
  color: #7bdff2;
  border-color: #7bdff2;
}

.project img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.url-links {
  padding-left: 0px;
  display: flex;
  gap: 10px;
}

.url-links a {
  padding: 0.2em 0.8em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color-second);
  transition: all 0.5s;
  cursor: pointer;
  font-size: 22px;
  color: var(--color-second);
}

.url-links a:hover {
  background-color: var(--color-second);
  color: var(--hover-color);
}

@media (max-width: 1015px) {
  .work-projects {
    width: 90vw;
    margin: auto;
  }

  .project {
    padding: 20px;
    width: 350px;
  }

  .project img {
    object-fit: cover;
    height: 60%;
  }
}

@media (max-width: 760px) {
  .projects {
    gap: 20px;
  }

  .project {
    width: 100%;
  }
}
