.projects {
  margin: 0px 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
}

.project {
  font-size: 12px;
  width: 400px; /*Espacio dentro del container*/
  padding: 10px 25px;
  gap: 10px;
  display: flex; /*elimina los puntos y da forma en vertical*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--background2-color);
  border-radius: 15px;
  border: 1px solid rgba(24, 24, 24, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 2px solid red;;
}

.figure {
  /* width: 90%; */
  gap: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure img {
  border-radius: 10px;
  object-fit: contain;
}

.description h2 {
  color: var(--main-color);
}

.card ul a {
  margin: 5px;
  padding: 4px 13px;
  border: 2px solid var(--background-color);
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  color: var(--background-color);
}

.card ul a:hover {
  background-color: var(--background-color);
  color: #0f0909;
}



@media (max-width: 1015px) {
  .projects{
    margin: 0px 5%;
    gap: 25px 25px;
  }

  .project {
    width: 300px;
    padding: 10px 15px;
  }
}