.particle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 0 3px var(--background-color);
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
.particle:nth-child(odd) {
  height: 9px;
  width: 9px;
}
.particle:nth-child(even) {
  height: 7px;
  width: 7px;
}
.particle:nth-child(1) {
  opacity: 0.46;
  animation-name: particle1;
  animation-delay: -0.2s;
  transform: translate3d(55vw, 79vh, 22px);
}
@keyframes particle1 {
  100% {
    transform: translate3d(80vw, 51vh, 9px);
  }
}

.particle:nth-child(2) {
  opacity: 0.08;
  animation-name: particle2;
  animation-delay: -0.4s;
  transform: translate3d(4vw, 21vh, 14px);
}
@keyframes particle2 {
  100% {
    transform: translate3d(31vw, 35vh, 87px);
  }
}
.particle:nth-child(3) {
  opacity: 0.41;
  animation-name: particle3;
  animation-delay: -0.6s;
  transform: translate3d(78vw, 63vh, 52px);
}
@keyframes particle3 {
  100% {
    transform: translate3d(42vw, 66vh, 40px);
  }
}

.particle:nth-child(4) {
  opacity: 0.33;
  animation-name: particle4;
  animation-delay: -8.8s;
  transform: translate3d(56vw, 32vh, 88px);
}
@keyframes particle4 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(5) {
  opacity: 0.4;
  animation-name: particle5;
  animation-delay: -1s;
  transform: translate3d(79, 74vh, 14px);
}
@keyframes particle5 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(6) {
  opacity: 0.41;
  animation-name: particle6;
  animation-delay: -1.2s;
  transform: translate3d(92vw, 27vh, 61px);
}
@keyframes particle6 {
  100% {
    transform: translate3d(80vw, 35vh, 11px);
  }
}

.particle:nth-child(7) {
  opacity: 0.74;
  animation-name: particle7;
  animation-delay: -1.4s;
  transform: translate3d(55vw, 65vh, 75px);
}

@keyframes particle7 {
  100% {
    transform: translate3d(30vw, 15vh, 59px);
  }
}

.particle:nth-child(8) {
  opacity: 0.09;
  animation-name: particles8;
  animation-delay: -1.6s;
  transform: translate3d(10vw, 10vh, 55px);
}
@keyframes particle8 {
  100% {
    transform: translate3d(30vw, 64vh, 91px);
  }
}
.particle:nth-child(14) {
  opacity: 0.98;
  animation-name: particle14;
  animation-delay: -2.8s;
  transform: translate3d(3vw, 73vh, 11px);
}
@keyframes particle14 {
  100% {
    transform: translate3d(45vw, 46vh, 28px);
  }
}
.particle:nth-child(15) {
  opacity: 0.69;
  animation-name: particle15;
  animation-delay: -3s;
  transform: translate3d(86vw, 82vh, 49px);
}
@keyframes particle15 {
  100% {
    transform: translate3d(16vw, 31vh, 36px);
  }
}
